
.a1 {
    display: flex;
}

.a1 > div {
    width: 30%;
    text-align: center;
}

.a1 > details {
    width: 60%;
}

.a1 img {
    width: 60%;
    border-radius: 50%;
}

/* 
.a1,.a2,.a3, .a4 {
    display: flex;
}

.a1 > div, .a2 > div, .a3 > div, .a4 > div {
    width: 20%;
    text-align: center;
}

.a1 > details, .a2 > details, .a3 > details, .a4 > details {
    width:60%;
} */