* {
    margin: 0px;
    padding: 0px;
}

header {
    top: 0px;
    left: 0px;
    position: sticky;
    width: 100%;
    height: 60px;

}

nav {
    height: 60px;
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover, nav li:hover {
    background-color: aliceblue;
    color: navy;
}

nav a:active {
    color: red;
}

nav li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    /* background-color: aliceblue; */   
}

img {
    width: 10%
} 

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



 article {
     background-color: aliceblue;
     color: navy;
     margin: 50px 10px;
     padding: 20px;
     width: 80%;
     display: flex;  /* display: flex;는 컨텐츠를 세로가 아닌 가로로 정열하게 함 */
}

article > h1 {
     width: 30%;
}

article > ul {
    width: 50%;
}

 #a1 {
    height: 50vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: left;
 }


 #a1 img {
    width: 250px;
    border-radius: 50%;
}    /*이미지를 동그랗게 만들어줌 */

 #a2, #a3, #a4, #a5 {
     background-color: aliceblue;

 }

